<<<<<<< HEAD
<%= link_to "Chatroom", root_path, class: "item" %> <a class="item">
  Messages </a> <div class="right menu">
=======
<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>
<div class="right menu">
>>>>>>> 49e7c83a1f650e5b5b8f4d08562345a1029151ff
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item">Log out</a>
      <%= link_to "Log in", login_path, class: "item" %>
      <a class="item">Sign up</a>
    </div>
  </div>
  <div class="item">
    <div class="ui primary button">Sign Up</div>
  </div>
</div>